
td img { 
   width:100%;     
}

#pagina1 {
        background: url(../img/tierra.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;

} 

#pEuropa{
	background: url(../img/europeImg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;
        color: white;

}

#pAsia{
	background: url(../img/asiaImg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;

}

#pAmerica{
	background: url(../img/americaImg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;
        color: white;

}

#pAfrica{
	background: url(../img/africaImg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;

}

#pOceania{
	background: url(../img/oceaniaImg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

        text-align: center;

}

#Cretidos{
	
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
		background-color:#CED8F6;
        text-align: center;
}

p#uso_comercial{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border:3px solid #FE9A2E;
	color:#08298A;
}


p#nombres_creditos{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border:3px solid #FE9A2E;
	color:#08298A;
}
