#pagina1 {
        background: url(../img/tierra.jpg);

        text-align: center;

} 

#pEuropa{
	background: url(../img/europeImg.jpg);

        text-align: center;
        color: white;

}

#pAsia{
	background: url(../img/asiaImg.jpg);

        text-align: center;

}

#pAmerica{
	background: url(../img/americaImg.jpg);

        text-align: center;
        color: white;

}

#pAfrica{
	background: url(../img/africaImg.jpg);

        text-align: center;

}

#pOceania{
	background: url(../img/oceaniaImg.jpg);

        text-align: center;

}